{
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "env": {
    "node": false,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn",
    "quotes": [
      "error",
      "single"
    ],
    "semi": [2, "always"],
    "indent": ["error", 2],
    "comma-dangle": ["error", "never"],
    "vue/max-attributes-per-line": "off",
    "vue/html-self-closing": "off",
    "vue/singleline-html-element-content-newline": "off"
  },
  "globals": {
    "module": true,
    "require": true,
    "process": true
  },
  "overrides": [
    {
      "files": ["*data.json"],
      "rules": {
        "quotes": [2, "double"]
      }
    }
  ]
}